<html>
    <center><h1>RESULTS</h1>
    <br>
    <b>Registration number is: </b><u> <%= regno %></u>
    <br>
    <b>Name is: </b><u> <%= name %></u>
    <br>
    <b>Physics mark is: </b><u> <%= phy %></u>
    <br>
    <b>Chemistry mark is: </b><u> <%= che %></u>
    <br>
    <b>Maths mark is: </b><u> <%= mat %></u>
    <br>
</center>
</html>   